#main {
  height: 90vh;
}

#cart {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#cart * {
  user-select: none;
}

.yourCart,
.order {
  padding: 25px;
}

.yourCart {
  width: 69%;
  background-color: #fff;
  height: fit-content;
}

.order {
  width: 29%;
  background-color: #fff;
  height: fit-content;
  position: sticky;
  top: 90px;
}

.title {
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title > h2 {
  border-bottom: 3px solid #bf953f;
}

.yourCart__table {
  width: 100%;
  border-collapse: collapse;
}

.yourCart__product + .yourCart__product {
  height: 200px;
  border-top: 1px solid #f4f4f4;
}

.yourCart__product > .thumbnail {
  width: 175px;
  height: 175px;
}

.thumbnail > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.quantityBox {
  height: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #999;
}

.quantity__btn {
  cursor: pointer;
  color: #bf953f;
}

.quantity__btn,
.quantityForm {
  flex-grow: 1;
}

.quantityForm {
  height: 100%;
  border: none;
  outline: none;
  text-align: center;
  font-size: 17px;
}

.price {
  font-size: 18px;
}

.remove > :only-child {
  font-size: 20px;
  cursor: pointer;
  color: #bf953f;
}

.yourCart__table th {
  font-size: 20px;
}

.yourCart__table th,
.yourCart__table td {
  padding: 15px;
  vertical-align: top;
}

td.price {
  width: 135px;
}

.order__main {
  padding-top: 15px;
}

.order__total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.delivery__options {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  background: none;
  border-bottom: 2px solid #c3c2c2;
  font-size: 16px;
  margin-bottom: 10px;
  cursor: pointer;
}

.delivery__options > option {
  height: 40px;
}

.checkout__btn {
  width: 100%;
  height: 40px;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: #1e242f;
  font-size: 17px;
  transition: 0.25s;
}

.checkout__btn a {
  color: white;
  padding: 10px 85.605px;
}

.checkout__btn:hover {
  background-color: #bf953f;
}

.highlightText > a {
  color: #bf953f;
}
