#component {
  width: 65%;
  height: 450px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 18% 80%;
  grid-column-gap: 2%;
  grid-row-gap: calc(100% - 430px);
  margin-bottom: 15px;
}

#manu {
  width: 100%;
  height: 100%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
  overflow: hidden;
  grid-row: 1/3;
}

#gallery {
  width: 100%;
  height: 300px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}

#gallery__footer {
  height: 130px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}

.manu {
  width: 100%;
  height: 100%;
  background-color: white;
}

.manu__items {
  width: 100%;
  height: 100%;
}

.manu__item {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-left: 10px;
}

.manu__item:hover {
  background-color: #f3f4f6;
}

.item__link {
  color: black;
}

.gallery {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}

.btn {
  position: absolute;
  z-index: 5;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 35px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  opacity: 0;
  transition: 0.25s;
}

.gallery:hover > .btn {
  opacity: 1;
}

.prev__btn {
  border-radius: 0 15px 15px 0;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  user-select: none;
}

.next__btn {
  border-radius: 15px 0 0 15px;
  right: 0;
}

.gallery__footer {
  width: 100%;
  height: 100%;
}

.gallery__footer img {
  width: 100%;
  height: 100%;
  background-size: cover;
}

@media screen and (max-width: 1499px) {
  #component {
    width: 80%;
  }
}
