#footer {
  width: 100%;
  height: fit-content;
  background-color: #2f3337;
  color: #aba3a3;
  padding-top: 20px;
  clear: both;
}

.footer__start {
  width: 65%;
  height: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 30% 25% 30%;
  grid-column-gap: calc(15% / 2);
}

.footer__end {
  width: 100%;
  height: 10%;
  background-color: #221e1d;
}

.footer__end p {
  width: 65%;
  margin: 0 auto;
  padding: 5px 0;
}

.footer__column {
  width: 100%;
  height: 100%;
}

.column__title {
  margin-bottom: 15px;
  color: white;
}

.column__content {
  line-height: 25px;
}

.column__content > ul {
  line-height: 40px;
}

.column__content > ul > li {
  display: flex;
  align-items: center;
}

.column__content table {
  border: none;
  border-collapse: collapse;
}

.logo__icon {
  font-size: 25px;
  margin-right: 5px;
}

.logo__icon.facebook {
  color: #375496;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: white;
}

.logo__icon.twitter {
  color: #1d9bf0;
}

.logo__icon.github {
  color: #161b22;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: white;
}

@media screen and (max-width: 1599px) {
  .footer__start,
  .footer__end p {
    width: 70%;
  }
}

@media screen and (max-width: 1499px) {
  .footer__start,
  .footer__end p {
    width: 80%;
  }

  .footer__start {
    grid-template-columns: 35% 25% 40%;
    grid-column-gap: calc(5% / 2);
  }
}
