@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

:root {
  --primary-color: #1e242f;
  --secondary-color: #bf953f;
  --background-color: #f4f4f4;
  --box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* Css for scroll bar */
body::-webkit-scrollbar {
  width: 10px;
  padding: 0 2px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background-color: #929292;
  background-clip: padding-box;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--background-color);
  height: 100vh;
}

a {
  text-decoration: none;
  color: black;
}

#main {
  width: 65%;
  margin: 0 auto;
}

.banner {
  width: 100%;
  height: fit-content;
  margin-bottom: 15px;
  cursor: pointer;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  user-select: none;
  box-shadow: var(--box-shadow);
}

ul {
  list-style-type: none;
}

/* remove arrow number input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* remove background-color when autofill input */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

@media screen and (max-width: 1599px) {
  #main {
    width: 70%;
  }
}

@media screen and (max-width: 1499px) {
  #main {
    width: 80%;
  }
}
