#navbar {
  width: 100%;
  height: 75px;
  background-color: var(--primary-color);
  z-index: 99;
  margin-bottom: 15px;
}

.navbar {
  width: 65%;
  height: 100%;
  margin: 0 auto;
}

.navbar__item {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: fit-content;
  height: 45px;
  display: flex;
  align-items: center;
  font-family: "Pacifico", cursive;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

.search {
  width: 40%;
  height: 45px;
  position: relative;
}

.search__input {
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding: 5px 15px;
  border-radius: 5px;
  font-size: 17px;
}

.search__icon {
  position: absolute;
  top: 0;
  right: 10px;
  height: 100%;
  font-size: 25px;
  color: rgb(117, 116, 116);
  cursor: pointer;
}

.another {
  width: 40%;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.contact,
.cart,
.member {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.symbol {
  font-size: 30px;
  margin-right: 5px;
}
